<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cclab.microsoft_gpsreceiver"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        
        <receiver 
            android:name="org.cclab.microsoft_gpsreceiver.widget.Widget">     
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="org.cclab.microsoft_gpsreceiver.widget.action.WIDGET_BUTTON_CLICK" />
                <action android:name="org.cclab.microsoft_gpsreceiver.widget.action.WIDGET_LOGGING_ON" />
                <action android:name="org.cclab.microsoft_gpsreceiver.widget.action.WIDGET_LOGGING_OFF" />
            </intent-filter>
            
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
        
        <activity
            android:name="org.cclab.microsoft_gpsreceiver.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.cclab.microsoft_gpsreceiver.RegistrationActivity"
            android:label="@string/registration_activity_title" >
        </activity>
        
        <activity
            android:name="org.cclab.microsoft_gpsreceiver.RankActivity"
            android:label="@string/rank_activity_title" >
        </activity>
        
        <activity
            android:name="org.cclab.microsoft_gpsreceiver.AboutActivity"
            android:label="@string/about_activity_title" >
        </activity>
        
        <activity
            android:name="org.cclab.microsoft_gpsreceiver.board.BoardActivity"
            android:label="@string/board_activity_title" >
        </activity>
        
        <activity 
            android:name="org.cclab.microsoft_gpsreceiver.board.WritingActivity"
            >
        </activity>
        
        <activity
            android:name="org.cclab.microsoft_gpsreceiver.board.ReadingActivity" >
        </activity>
        
        <service
            android:name="org.cclab.microsoft_gpsreceiver.GpsService"
            android:enabled="true" >
        </service>

		
    </application>

</manifest>
